{% extends 'tickets/base.html' %}
<!-- {% load static %} -->
{%block content%}
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css"> 
<h2>ticket list</h2>
<div class="d-flex flex-row-reverse">
    <a class="btn btn-info me-2" href="{%url 'ticket_create'%}"><i class="bi bi-ticket-perforated-fill"></i>
        Ticket create</a> 
</div>
<table id="ticket-table" class="table table-striped">
    {%if tickets%}
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Creado</th>
            <th>Actualizado</th>
        </tr>
    </thead>
    <tbody>
        {%for t in tickets%}

        <tr>
            <td>{{t.title}}</td>
            <td>{{t.description}}</td>
            <td>{{t.created_at}}</td>
            <td>{{t.updated_at}}</td>
            <td>
                <a class="btn btn-info me-2" href="{% url 'ticket_detail' t.pk %}">
                    <i class="bi bi-ticket-perforated-fill"></i> Ticket Detail
                </a>
                <a class="btn btn-info me-2" href="{% url 'ticket_update' t.pk %}">
                    <i class="bi bi-ticket-perforated-fill"></i> Ticket Update
                </a>
                <a class="btn btn-danger me-2" href="{% url 'ticket_delete' t.pk %}">
                    <i class="bi bi-ticket-perforated-fill"></i> Ticket Delete
                </a>
            </td>
        </tr>
        {%endfor%}
    {%endif%}
</table>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
<script>
    $(document).ready(function(){
        $('#ticket-table').DataTable();
    });
</script>
{%endblock%}